footer.footer
  .footer-grid
    h2 Contact Info
    .footer-detail
      p Feel free to reach out to me any time.
      p
        a(href='mailto:dawun.han@gmail.com' target='_blank')
          i.fas.fa-envelope
          |  dawun.han@gmail.com
        br
      p
        a(href='https://www.linkedin.com/in/terrydawunhan/' target='_blank')
          i.fab.fa-linkedin
          |  www.linkedin.com/in/terrydawunhan/
        br
      p
        a(href='https://github.com/DAWUNHAN' target='_blank')
          i.fab.fa-github-square
          |  GitHub
  .footer-grid
    h2 Latest Projects
    .footer-detail
      p
        a(href='https://dawunhan.github.io/Apple-interactive' target='_blank') Apple Interactive Web
      p
        a(href='https://agile-badlands-95319.herokuapp.com/' target='_blank') Youtube Clone coding
      p
        a(href='https://friendly-brattain-b6c39b.netlify.app/' target='_blank') React Movie Web
  .footer-grid
    h2 Image
    .footer-detail
      p Image by Comfreak from Pixabay
