extends layouts/main
include mixins/recipeBlock

block content
    .main-banner
    .random-recipes-wrapper
        each item in recipes
            .card#recipes-box
                .card-image
                    a(href=item.sourceUrl, target="_blank")
                        img(src=item.image)
                .recipes-content
                    span.card-title.highlight=item.title
                    .card-content
                        div.random-spoonacularScore Spoonacular Score 
                            p=item.spoonacularScore



