extends layouts/main

block content
    .random-recipes-wrapper
        each item in searchResult
            .card#recipes-box
                .card-image
                    a(href=item.sourceUrl, target="_blank")
                        img(src=`https://spoonacular.com/recipeImages/${item.image}`)
                .recipes-content
                    span.card-title.highlight=item.title
                    .card-content
                        div.random-spoonacularScore Spoonacular Score 
                            p=item.spoonacularScore
