extends layouts/main

block content
    .random-recipes-wrapper
        each item in searchResult
            .card#recipes-box
                .card-image
                    a(href=item.sourceUrl, target="_blank")
                        img(src=`https://spoonacular.com/recipeImages/${item.image}`)
                span.card-title=item.title
                .card-content
                    div(class="random-spoonacularScore") Spoonacular Score 
                        p=item.spoonacularScore