.random-recipes-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://github.com/DAWUNHAN/recipe_book/blob/master/public/img/honeycomb.png?raw=true");
}
#recipes-box {
  width: 100vw;
  height: 100vw;
  max-width: 432px;
  max-height: 432px;
  overflow: hidden;
  margin: 0px;
}
.recipes-content {
  margin: 1em;
  text-align: center;
}
.random-spoonacularScore p {
  font-size: 3rem;
}
.recipe-category {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.category-image {
  width: 15%;
}
.category-image img {
  width: 30%;
  display: block;
  margin: 0 auto;
}
